.dot-matrix-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: -1;
}

.dot-matrix-wrapper canvas {
  width: 100%;
  height: 100%;
  display: block;
  transform: translate3d(0, 0, 0);
}
