@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Abril Fatface";
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
  min-height: 100vh;
}

.mask {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: screen;
}

h2 {
  font-size: 80px;
}

video {
  position: fixed;
  z-index: -1;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
