<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bennett & clive scroll animation | @codegrid</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="sticky-bar">
        <div class="item"><p>Barrett</p></div>
        <div class="item"><p>&</p></div>
        <div class="item"><p>Hale</p></div>
      </div>

      <section class="hero">
        <img src="./assets/hero.jpg" alt="" />
      </section>

      <section class="clients">
        <div class="row">
          <div class="logo"><p>Logo 1</p></div>
          <div class="logo"><p>Logo 2</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 3</p></div>
          <div class="logo"><p>Logo 4</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 5</p></div>
          <div class="logo"><p>Logo 6</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 7</p></div>
          <div class="logo"><p>Logo 8</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 9</p></div>
          <div class="logo"><p>Logo 10</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 11</p></div>
          <div class="logo"><p>Logo 12</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 13</p></div>
          <div class="logo"><p>Logo 14</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 15</p></div>
          <div class="logo"><p>Logo 16</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 17</p></div>
          <div class="logo"><p>Logo 18</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 19</p></div>
          <div class="logo"><p>Logo 20</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 21</p></div>
          <div class="logo"><p>Logo 22</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 23</p></div>
          <div class="logo"><p>Logo 24</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 25</p></div>
          <div class="logo"><p>Logo 26</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 27</p></div>
          <div class="logo"><p>Logo 28</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 29</p></div>
          <div class="logo"><p>Logo 30</p></div>
        </div>
        <div class="row">
          <div class="logo"><p>Logo 31</p></div>
          <div class="logo"><p>Logo 32</p></div>
        </div>
      </section>

      <section class="trigger-footer">
        <img src="./assets/footer.jpg" alt="" />
      </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
